{% extends "base.html" %}

{% block title %}New Storage{% endblock title %}

{% block sidebar %}
    {% include "snippets/sidenav.html" with active="storage" %}
{% endblock sidebar %}


{% block main_content %}

{{form.errors}}

    <h2>Add New Storage
        <a href="{% url 'storage:home' %}" class="pull-right btn btn-default">Cancel</a>
    </h2>
    <hr/>

    <form action="{% url 'storage:new' %}" method="POST">
        {% csrf_token %}

     <div class="form-group {% if form.errors.name %}has-error{% endif %}">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Storage name" value="{{form.name.value|default:''}}">
        {% if form.errors.name %}
            <p class="help-block error">{{form.errors.name}}</p>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="storage_type">Type</label>

        <select name='storage_type' id='storage_type' class="form-control">
        {{form.storage_type.field.choices}}
        {% for choice in form.storage_type.field.choices %}
            <option {% ifequal form.storage_type.data choice.0 %}selected="selected"{% endifequal %}
                    value="{{choice.0}}">{{choice.1}}</option>
        {% endfor %}
        </select>
    </div>
      <div class="form-group">
        <label for="notes">Notes</label>

        <textarea rows="10" placeholder="Notes..." class="form-control"  name="notes" id="notes">{{form.notes.value|default:""}}</textarea>
     </div>

    <button type="submit" class="btn btn-success">Submit</button>
    <button type="reset" class="btn btn-default">Reset</button>

    </form>

{% endblock main_content %}
