global-include *.py
global-include *.md
global-include *.html
recursive-include drastic_ui/static *
recursive-include static *
include gunicorn.conf
include requirements.txt

prune dist
prune drastic_web.egg_info