{% extends "archive/base.html" %}

{% block sidebar %}
    {% include "snippets/sidenav.html" with active="groups" %}
{% endblock sidebar %}

{% block title %}Add user to group{% endblock title %}

{% block main_content %}

<h2>Add user(s)
    <a class="pull-right btn btn-default" href="{% url 'groups:view' name=group.name %}">
    &laquo; Back to Group
    </a>
    </h2>
<hr/>

{% include "groups/add_form.html" with form=form action='add' group=group users=users%}

{% endblock main_content %}


