{% extends "archive/base.html" %}

{% block title %}Edit Group - {{group.name}}{% endblock title %}

{% block sidebar %}
    {% include "snippets/sidenav.html" with active="groups" %}
{% endblock sidebar %}

{% block main_content %}

<h2>Edit Group - {{group.name}}
    <a class="pull-right btn btn-default" href="{% url 'groups:home' %}">
    &laquo; Back to group management
    </a>
</h2>
<hr/>

{% include "groups/group_form.html" with form=form group=group action='edit'%}

{% endblock main_content %}


