
{% if form.errors %}
    <div class="alert alert-danger">
    Please correct the problem in the form below.
    </div>
{% endif %}

{% if action == 'edit' %}
    {% url 'groups:edit_group' name=group.name as post_url %}
{% else %}
    {% url 'groups:new_group' as post_url %}
{% endif %}

<form id="loginForm" method="POST" action="{{post_url}}" novalidate="novalidate" enctype="multipart/form-data">
    {% csrf_token %}
    
<!--     {{ form }} -->
    
    <div class="form-group {% if form.errors.name %}has-error{% endif %}">
        <label for="name" class="control-label">Group name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{form.name.value|default:''}}"  title="Enter the group name" placeholder="Name of group">
    </div>
    
    <button type="submit" class="btn btn-success btn-block">Save</button>
</form>
