{% extends "archive/base.html" %}

{% block title %}Delete Collection - {{collection.name}}{% endblock title %}

{% block main_content %}

    <h2>Delete Collection - {{collection.name}}</h2>

    <br/><br/>
    <div style="font-size:1.5em;" class="alert alert-danger">
        <strong>Deleting this collection will delete the collection,
    and all items and collections within it.</strong>
    </div>

    <div class="row">
    </div>

    <div style="text-align:center; margin-top: 20px;">
        <div style='font-size: 1.5em'>
        Are you sure you wish to continue?
        </div>

        <form action="{% url 'archive:delete_collection' path=collection.path %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-lg btn-danger">Delete this collection</button>
            <a href="{% url 'archive:view' path=collection.path %}" class="btn btn-lg btn-success">Cancel</a>
        </form>

    </div>
{% endblock main_content %}