{% extends "archive/base.html" %}

{% block title %}Archive Search{% endblock title %}

{% block main_content %}

<h2>Search {% if q %}for '{{q}}'{% endif %}</h2>
<hr/>
{% include "snippets/search_form.html" with q=q size="full"%}

<hr/>

{% for c in results.collections%}
    {% include "archive/snippets/collection_entry.html" with collection=c %}
{% endfor %}


{% for r in results.resources %}
    {% include "archive/snippets/resource_entry.html" with resource=r %}
{% endfor %}


{% endblock main_content %}


