
.user-tab {
    margin: 0px;
    margin-bottom: 10px;
    background-color: #7BAEC7;
    color: white;
    border-radius: 4px;
}

.user-tab a {
    color: white;
}

.height-30 {
    height: 30px;
}

ul.nav-sidebar {
    margin-top: 60px;
}