{% extends "base.html" %}
{% load ui_tags %}
{% load humanize %}
{% block title %}Node metrics{% endblock title %}

{% block sidebar %}
    {% include "snippets/sidenav.html" with active="nodes" %}
{% endblock sidebar %}


{% block main_content %}

<h2>Node - {{ node.name }} / {{ node.address }}
<a href="{% url 'nodes:home' %}" class="pull-right btn btn-default">&laquo; Back to Nodes</a>
</h2>
<hr/>

{% for storage,data in metrics.storage.iteritems %}
    <h3>{{storage|title}}</h3>
    <div class="progress">
      <div class="progress-bar progress-bar-{% percentage_color data.total data.used %}" role="progressbar" aria-valuenow="{% percentage data.total data.used %}" aria-valuemin="0" aria-valuemax="100" style="width: {{ data.percent_used }}%;">
        {{ data.percent_used }}%
      </div>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Total available</th>
            <td>{{ data.total|intcomma }}
            <th>Total used</th>
            <td>{{ data.used|intcomma }}</td>
        </tr>
        <tr>
            <th># of items</th>
            <td>{{ data.resource_count|intcomma }}</td>
            <th>Average item size</th>
            <td>{{ data.avg_size|intcomma }}</td>
        </tr>
        <tr>
            <th>Min item size</th>
            <td>{{ data.min_size|intcomma }}</td>
            <th>Max item size</th>
            <td>{{ data.max_size|intcomma }}</td>
        </tr>
    </table>
    <hr/>
{% endfor %}


{% endblock main_content %}
