
<li {% if active == 'archive' %}class="active"{% endif %}>
    <a href="{% url 'archive:home' %}">Archive</a>
</li>
<li {% if active == 'users' %}class="active"{% endif %}>
    <a href="{% url 'users:home' %}">Users</a>
</li>
<li {% if active == 'groups' %}class="active"{% endif %}>
    <a href="{% url 'groups:home' %}">Groups</a>
</li>
<li {% if active == 'activity' %}class="active"{% endif %}>
    <a href="{% url 'activity:home' %}">Activity</a>
</li>
<li><div class="height-30"></div></li>
{% if user.is_staff %}
<li>
    <a href="/admin">Administration</a>
</li>
{% endif %}
