{% extends "archive/base.html" %}

{% block title %}Delete Item - {{resource.name}}{% endblock title %}

{% block main_content %}

    <h2>Delete Item - {{resource.name}}</h2>

    <br/><br/>

    <div style="text-align:center; margin-top: 20px;">
        <div style='font-size: 1.5em'>
        Are you sure you wish to continue?
        </div>

        <form action="{% url 'archive:delete_resource' path=resource.path %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-lg btn-danger">Delete this item</button>
            <a href="{% url 'archive:view' path=container.path %}" class="btn btn-lg btn-success">Cancel</a>
        </form>

    </div>
{% endblock main_content %}