
{% if form.errors %}
    <div class="alert alert-danger">
    Please correct the problem in the form below.
    </div>
{% endif %}

{% if action == 'edit' %}
    {% url 'archive:edit_resource' path=resource.path as post_url %}
{% else %}
    {% url 'archive:new_resource' container=container.path as post_url %}
{% endif %}


<form id="loginForm" method="POST" action="{{post_url}}" novalidate="novalidate" enctype="multipart/form-data">
    {% csrf_token %}
    {% if action == 'new' %}
        <div class="form-group {% if form.errors.name %}has-error{% endif %}">
            <label for="name" class="control-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{form.name.value|default:''}}"  title="Enter the item name" placeholder="Name of item">
        </div>
    {% endif %}

    {% if action != 'edit' %}
        <div class="well form-group {% if form.errors.file %}has-error{% endif %}">
                {# We remove the "fakepath" bit because Chrome is odd. See: http://davidwalsh.name/fakepath #}
                <input type="file" name="file" onchange="if ($('#name').val()=='') {$('#name').val(this.value.replace('C:\\fakepath\\', ''))}"/>
        </div>
    {% endif %}

    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-3">
            <strong>Read permission</strong>
            <div class="checkbox">
                {{form.read_access}}
            </div>
        </div>
        <div class="col-md-3 left-border">
            <strong>Write permission</strong>
            <div class="checkbox">
                {{form.write_access}}
            </div>
        </div>
    </div>

    <h4>Metadata</h4>

    <div class="form-group {% if form.errors.metadata %}has-error{% endif %}">
    {% if form.errors.metadata %}
    <div class="alert alert-danger">{{form.errors.metadata}}</div>
    {% endif %}
    {{form.metadata}}
    </div>

    <button type="submit" class="btn btn-success btn-block">Save</button>
</form>

<script type="text/javascript">
$(document).ready(function(){
    $('#name').focus();

    var mf_fields_count = $("#metadata_fields .form-group").size()

    function setminus_visibile_on_first_row() {
        var first = $("#metadata_fields .form-group").get(0);
        var btn = $(first).find(".btn-danger");

        console.log(mf_fields_count.toString());
        if (mf_fields_count <= 1) {
            btn.hide();
        } else {
            btn.show();
        }

    }

    function clone_and_clean(element) {
        var obj = element.clone()

        var inputs = $(obj).find("input");
        inputs.each(function(idx, input){
            $(this).val("");
        });


        return obj;
    }

    function prep(container, index, value) {
        var minus = $(container).find('.btn-danger');
        var plus  = $(container).find('.btn-success');

        minus.click(function(){
            $(container).remove();
            mf_fields_count -= 1;
            setminus_visibile_on_first_row();
        });

        plus.click(function(){
            var newrow = clone_and_clean($(container));
            newrow.appendTo($(container).parent());

            mf_fields_count += 1;
            prep(newrow, mf_fields_count-1, "" );
            setminus_visibile_on_first_row();
        });

        if(index == 0) {
            minus.hide();
        } else {
            minus.show();
        }
    }

    function update_name() {
        alert("update");
    }


    $("#metadata_fields .form-group").each(function(index, value){
        var that = $(this);
        prep(that, index, value);
    });
});
</script>

<style>
#id_read_access li   { list-style: none; margin-left: -30px; }
#id_write_access li  { list-style: none; margin-left: -30px; }
#id_edit_access li   { list-style: none; margin-left: -30px; }
#id_delete_access li { list-style: none; margin-left: -30px; }
#id_read_access   { margin-top: 10px; }
#id_write_access  { margin-top: 10px; }
#id_edit_access   { margin-top: 10px; }
#id_delete_access { margin-top: 10px; }
.left-border { border-left: solid 1px #eee; }
</style>