{% extends "archive/base.html" %}

{% block title %}Resource - {{resource.name}}{% endblock title %}

{% block main_content %}

<h2>Resource - {{resource.name}}
        <a class="btn btn-success pull-right" href="{% url 'archive:download' path=resource.path %}">Download file</a>

</h2>
<hr/>


<ol class="breadcrumb">
  <li><a href="{% url 'archive:view' path="" %}">Home</a></li>
  {% for coll,full in collection_paths %}
    {% if forloop.last %}
        <li class="active">{{coll}}</li>
    {% else %}
        <li><a href="{% url 'archive:view' path=full %}/">{{coll}}</a></li>
    {% endif %}
  {% endfor %}
</ol>


{# Permission check for action bar .... #}

    <div class="control-bar">
        {% if resource.can_edit %}
        <a class="btn btn-info" href='{% url "archive:edit_resource" path=resource.path %}'%}>Edit Resource</a>
        {% endif %}
        {% if resource.can_delete %}
        <a class="btn btn-danger" href='{% url "archive:delete_resource" path=resource.path %}'>Delete Resource</a>
        {% endif %}

        <div class="clearfix"></div>
    </div>

    <hr/>



<div class="col-md-6">
    <h4>Preview</h4>
    <hr/>
    <iframe src="{% url 'archive:preview' path=resource.path%}" style="width:420px; height: 560px; border: none;" >
    </iframe>
</div>

<div class="col-md-6">
    <h4>Metadata</h4>
    <hr/>
    <table class="table table-">
    <tbody>
        <tr><th style="border-bottom: solid 2px #eee;" colspan="2">Core metadata</th></tr>
        <tr>
            <th>Name</th>
            <td>{{resource.name}}</td>
        </tr>
        <tr>
            <th>Mimetype</th>
            <td>{{resource.mimetype|default:"Not set"}}</td>
        </tr>
        <tr>
            <th>Size (in bytes)</th>
            <td>{{resource.size|default:"Not set"}}</td>
        </tr>
        <tr>
            <th>Collection</th>
            <td><a href="/archive/view{{ container_path }}">{{ container.name }}</a></td>
        </tr>
        <tr>
            <th>Created date/time</th>
            <td>{{resource.create_ts}}</td>
        </tr>
        <tr>
            <th>Modified date/time</th>
            <td>{{resource.modified_ts}}</td>
        </tr>
        {% if request.user.administrator %}
        <tr>
            <th>URL</th>
            <td>{{resource.url}}</td>
        </tr>
        {% endif %}
        {% if resource.metadata|length %}
            <tr><th style="border-bottom: solid 2px #eee;" colspan="2">Custom metadata</th></tr>
        {% endif %}
        {% for row in resource.metadata %}
        <tr>
            <th>{{row.0}}</th>
            <td>{{row.1}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock main_content %}


