
a:active, a:hover {
    color: black !important;
}

.user-tab {
    margin: 0px;
    margin-bottom: 10px;
    background-color: #7BAEC7;
    color: white;
    border-radius: 4px;
}

.user-tab a {
    color: white;
}

.height-30 {
    height: 30px;
}

ul.nav-sidebar {
    margin-top: 60px;
}

.error {
    color: red;
}

.blue-icon {
    color: #468CC8;
}

.status-up {
    color: #28BB9C;
}
.status-unknown {
    color: yellow;
}
.status-down {
    color: #E54D42;
}

