{% extends "archive/base.html" %}

{% block sidebar %}
    {% include "snippets/sidenav.html" with active="users" %}
{% endblock sidebar %}

{% block title %}Delete User - {{user.uname}}{% endblock title %}

{% block main_content %}

    <h2>Delete User - {{user.name}}</h2>

    <br/><br/>

    <div style="text-align:center; margin-top: 20px;">
        <div style='font-size: 1.5em'>
        Are you sure you wish to delete user {{user.name}}?
        </div>

        <form action="{% url 'users:delete_user' name=user.name %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-lg btn-danger">Delete this user</button>
            <a href="{% url 'users:home' %}" class="btn btn-lg btn-success">Cancel</a>
        </form>

    </div>
{% endblock main_content %}