{% load gravatar %}

<div class="col-md-3" >
    <table width="100%" border="0" class="table user-tab" style="table-layout:fixed;" cellpadding="0" cellspacing="0">
        <tr>
            <td>
            {% gravatar user.email 60 %}
            </td>
            <td valign="top" align="left">
                <a href="{% url 'users:view' name=user.name %}">
                {{ user.name }}
                </a>
                
                {% if req_user.administrator %}
                  <a href="{% url 'users:edit_user' name=user.name %}" >
                  <i class="blue-icon glyphicon glyphicon-pencil"></i>
                  </a>
                  <a href="{% url 'users:delete_user' name=user.name %}">
                  <i class="blue-icon glyphicon glyphicon-remove-circle"></i>
                  </a>
                 {% endif %}
            </td>
        </tr>
    </table>
</div>

