{% load gravatar %}

<div class="col-md-3" >
    <table width="100%" border="0" class="table user-tab" style="table-layout:fixed;" cellpadding="0" cellspacing="0">
        <tr>
            <td>
            {% gravatar user.email 80 %}
            </td>
            <td valign="top" align="left">
                <a href="{% url 'users:view' id=user.username %}">
                {{ user.username }}
                </a>
                <a href="{% url 'users:edit_user' id=user.username %}" >
                <i class="blue-icon glyphicon glyphicon-pencil"></i>
                </a>
                <a href="{% url 'users:delete_user' id=user.username %}">
                <i class="blue-icon glyphicon glyphicon-remove-circle"></i>
                </a>
            </td>
        </tr>
    </table>
</div>

