{% extends "base.html" %}
{% load gravatar %}

{% block title %}Users - {{user_obj.username}}{% endblock title %}

{% block sidebar %}
    {% include "snippets/sidenav.html" with active="users" %}
{% endblock sidebar %}


{% block main_content %}
    <h2>{% gravatar user_obj.email 40 %} {{ user_obj.username }}</h2>

    <hr/>
    <h3>Profile</h3>

    <div>
        <div>
            <strong>Full name:</strong> {{ user_obj.get_full_name|default:"Not supplied"}}
        </div>
        <div>
            <strong>Department:</strong>
        </div>
        <div>
            <strong>Email:</strong> {{ user_obj.email|default:"Private"}}
        </div>
        <div>
            <strong>Telephone:</strong>
        </div>
    </div>

    <h3>Groups</h3>
    <div>
        {% if user_obj.groups.count == 0 %}
            {{user_obj.username}} is not in any groups.
        {% else %}
            <ul>
            {% for g in user_obj.groups.all %}
                <li>{{ g.name }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    <h3>Activity</h3>
    <div>

    </div>

{% endblock main_content %}
