
<div class="collection-entry row">

    <div class="col-md-12">
      {% if collection.can_delete %}
        <a href="{% url 'archive:delete_collection' path=collection.path %}">
        <i class="blue-icon glyphicon glyphicon glyphicon-remove-circle"></i>
        &nbsp;&nbsp;
        </a>
      {% endif %}
      {% if collection.can_read %}
      <i class="blue-icon glyphicon glyphicon-folder-open"></i>
      &nbsp;&nbsp;
      <a href="{% url 'archive:view' path=collection.path %}">
          {{ collection.name }}
      </a>
      {% else %}
        <span style="color: #999;">
        <i class="gray-icon glyphicon glyphicon glyphicon-folder-close"></i>&nbsp;&nbsp;
          {{ collection.name }}
        </span>
      {% endif %}
    </div>

</div>

{% if collection.metadata %}
<div class="row" style="margin-top: 10px;">
    {% if collection.can_read %}
        <div class="col-md-12">
            {% include "archive/snippets/metadata.html" with metadata=collection.metadata label='default'%}
        </div>
    {% endif %}
</div>
{% endif %}

{# Hidden fields are showing debug information from search results #}
<span style="display:none;">
    <span>Hit count: {{ c.hit_count }}</span>
</span>
<hr/>

