
<div class="collection-entry row">

    <div class="col-md-12">
      <a href="{% url 'archive:view' path=collection.path %}">
        <i class="blue-icon glyphicon glyphicon-tags"></i>&nbsp;&nbsp;
        {{ collection.name }}
      </a>
    </div>

</div>

{% if collection.metadata %}
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      {% include "archive/snippets/metadata.html" with metadata=collection.metadata label='default'%}
    </div>
</div>
{% endif %}

{# Hidden fields are showing debug information from search results #}
<span style="display:none;">
    <span>Hit count: {{ c.hit_count }}</span>
</span>
<hr/>

