
<ol class="breadcrumb">
  <li><a href="{% url 'archive:view' path="" %}">Home</a></li>
  {% for coll,full in collection_paths %}
    {% if forloop.last %}
        <li class="active">{{coll}}</li>
    {% else %}
        <li><a href="{% url 'archive:view' path=full %}/">{{coll}}</a></li>
    {% endif %}
  {% endfor %}
</ol>


{% include "archive/snippets/metadata.html" with metadata=collection.metadata id=collection.id %}
<hr/>

<h3 style="margin-bottom:1em;">Collections
    {% if collection.can_write %}
    &nbsp;&nbsp;<a class="pull-right btn btn-xs btn-success" href="{% url 'archive:new_collection' parent=collection.id %}">Add new</a>
    {% endif %}
</h3>
{% for c in child_collections %}
    {% include "archive/snippets/collection_entry.html" with collection=c %}
{% empty %}
    This collection has no sub-collections
{% endfor %}


<h3 style="margin-bottom:1em;">Resources
    {% if collection.can_write %}
    &nbsp;&nbsp;<a class="pull-right btn btn-xs btn-success" href="{% url 'archive:new_resource' container=collection.id %}">Add new</a>
    {% endif %}
</h3>

{% for r in child_resources %}
    {% include "archive/resource/resource_entry.html" with resource=r %}
{% empty %}
  This collection has no resources
{% endfor %}




